[user]
	name = Luke Lynch
	email = luke@lukelynch.io
	signingkey = /Users/lukelynch/.ssh/id_rsa.pub
[alias]
	fa = fetch --all
	co = checkout
	pl = log --graph --color --decorate --oneline --all
	al = commit --amend --no-edit
[core]
	autocrlf = input
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
